/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

#image {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

ul {
 list-style: none;
}

.comments {
  margin-left: 20px;
}

.text-box-comments {
  width: 400px;
}
