<% if @images.any? %>
  <% @images.each do |image| %>
    <img><%= image_tag image.image.url(:thumb) %></img>
    <h2><%= image.name %></h2>
  <% end %>
<% else %>
  <h1>No images yet</h1>
<% end %>

<a href="/images/new">Add an image</a>