<a href="/images/new">Add an image</a>

<% if @images.any? %>
  <% @images.each do |image| %>
    <img><%= image_tag image.image.url(:thumb) %></img>
    <h2><%= link_to image.name, image_path(image) %></h2>
    <p><%= link_to "Edit #{image.name}", edit_image_path(image) %><p>
    <p><%= link_to "Delete #{image.name}", image_path(image), method: :delete %></p>
  <% end %>
<% else %>
  <h1>No images yet</h1>
<% end %>